.button-main {
  background-color: red;
  color: white;
  border: none;
  padding: 0.9em 4.4em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.button-secondary {
  background-color: black;
  color: red;
  border: 1px solid red;
  padding: 0.9em 4.4em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.button-basic {
  color: white;
  background-color: black;
  border-radius: 4px;
  border: 0.1px solid white;
  margin-left: 3em;
  align-self: flex-start;
  padding: 0.5em 1em;
}
